<% layout("layouts/boilerplate2.ejs") %>

<main>
  <section class="blog-section">
    <div class="container">
      <h2>Our Latest Blog Posts</h2>

      <div class="row g-4">

        <div class="col-lg-4 col-md-6">
          <div class="card blog-card">
            <img class="img-fluid w-100"  src="https://res.cloudinary.com/dvm5udmdz/image/upload/v1756470399/StayAnyTime/vzgti05vjjaaowev1y62.jpg" alt="Blog 1">
            <div class="blog-card-body">
              <h5 class="blog-card-title">Top 10 Travel Tips for 2025</h5>
              <p class="blog-card-text">Discover essential tips for a smooth and memorable travel experience in 2025, from packing hacks to safety advice.</p>
              <a href="/blog/1" class="read-more">Read More →</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="card blog-card">
            <img class="img-fluid w-100"  src="https://res.cloudinary.com/dvm5udmdz/image/upload/v1756469711/StayAnyTime/eiuo0gaztaewqexaly4t.jpg" alt="Blog 2">
            <div class="blog-card-body">
              <h5 class="blog-card-title">How to Choose the Perfect Stay</h5>
              <p class="blog-card-text">Learn how to select accommodations that match your needs and budget, ensuring a comfortable and enjoyable trip.</p>
              <a href="/blog/2" class="read-more">Read More →</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="card blog-card">
            <img class="img-fluid w-100" src="https://res.cloudinary.com/dvm5udmdz/image/upload/v1756469791/StayAnyTime/lzrfmbiu04hlj6z6q8vf.jpg" alt="Blog 3">
            <div class="blog-card-body">
              <h5 class="blog-card-title">Top Destinations for Solo Travelers</h5>
              <p class="blog-card-text">Explore the best cities and regions for solo travelers, complete with safety tips and fun activities to try.</p>
              <a href="/blog/3" class="read-more">Read More →</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</main>
